bs4
lxml
numpy
emoji
wheel
pandas
asyncio
requests
progress
colorama
selenium
matplotlib
user_agent
about-time
progressbar
proxy_checking
beautifulsoup4
selenium_stealth
webdriver-manager
anticaptchaofficial
